.title {
	margin: auto;
	margin-bottom: 10px;
    width: 60%;
    padding: 10px;
    text-align: center;
}
.center {
	margin: auto;
	width: 80%;
	padding: 10px;
	text-align: center;
}

html[data-theme = 'dark']{
	height: 100%;
	background: black;
}
html{
	height: 100%;
	background-color: #D5E1F0
}
nav[data-theme = 'dark']{
	background-color: black;
	color: white;
}
nav{
	background-color: #CAD5E2;
	color: #6A1B4D;
}

*,*:before,*:after{
	box-sizing: border-box;
}
body[data-theme = 'dark']{
	margin: 0;
	display: grid;
	background: none;
	color: white;
}

body{
	margin: 0;
	display: grid;
	background: none;
	color: #6A1B4D;
}
main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 3.8;
	text-transform: uppercase;
	font-weight: bold;
}
footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 50px;
	color: #fff;
	background-color: #18181a;
}
