.title {
	margin: auto;
	margin-bottom: 10px;
    width: 60%;
    padding: 10px;
    text-align: center;
}
.center {
	margin: auto;
	width: 80%;
	padding: 10px;
	text-align: center;
}

html[data-theme = 'dark']{
	height: 100%;
	background: black;
}
html{
	height: 100%;
	background-color: #D5E1F0
}
nav[data-theme = 'dark']{
	background-color: black;
	color: white;
}
nav{
	background-color: #CAD5E2;
	color: #6A1B4D;
}

*,*:before,*:after{
	box-sizing: border-box;
}
body[data-theme = 'dark']{
	margin: 0;
	display: grid;
	background: none;
	color: white;
}

body{
	margin: 0;
	display: grid;
	background: none;
	color: #6A1B4D;
}
main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 3.8;
	text-transform: uppercase;
	font-weight: bold;
}
footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 50px;
	color: #fff;
	background-color: #18181a;
}
.footer > * {
	flex: 1 100%; /* 30 */

}
.footer-left{	
	margin-bottom: 2em;
}
.footer-left img{
	width: 47%;
}
h2{
	font-weight: 600;
	font-size: 17px;
}
.footer ul{
	list-style: none;
	padding-left: 0;
}
.footer li{
	line-height: 2em;
}
.footer a{
	text-decoration: none;
}
.footer-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;

}
.footer-right > * {
	flex: 1 50%; /* 25 */
	margin-right: 1.30em;
	margin-bottom: 4em;
}
.box a {
	color: #999;
}


.input {
  width: 315px;
  display: block;
  margin: 1rem auto;
  border: 2px solid #fff;
  padding: 8px;
  background: transparent;
  border-radius: 20px;
  outline: none;
}
.widinput {
  width: 615px;
  display: block;
  margin: 1rem auto;
  border: 4px solid #fff;
  padding: 8px;
  background: transparent;
  border-radius: 20px;
  outline: none;
}

.button {
  background: lightblue;
  border: none;
  height: 2rem;
  border-radius: 20px;
  width: 330px;
  display: block;
  outline: none;
  cursor: pointer;
  margin: 1rem auto;
}
.container[data-theme = 'dark'] {
  border: 2px solid #dedede;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.darker[data-theme = 'dark'] {
  border-color: #ccc;
  background-color: black;
}
.darker {
  border-color: #ccc;
  background-color: #eeeee9;
}
.messageContainer {
	height: 80vh;
	overflow-y: scroll;
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
label {
	cursor: pointer;
	text-indent: -9999px;
	width: 57px;
	height: 27px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}
label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}
input:checked + label {
	background: #6A1B4D;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}
#color[data-theme = 'dark']{
	color: white;
}
#color{
	color: #6A1B4D;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	border-radius: 7px;
	box-shadow: inset 0 0 13px rgba(155,155,155,0.25);
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #6A1B4D;
}


@media  screen and (min-width: 800px){
	.footer-right > *{
		flex: 1 0%;
	}
	.footer-left{
		flex: 1 0px;
	}
	.footer-right{
		flex: 2 0px;		
	}
}




.helper{
	/*#D5E1F0 -> front color brighter [light blue-grey]*/
	/*#CAD5E2 -> front secound color darker [darker blue-grey]*/
	/*#6A1B4D -> text color [dark red]*/
}

